<h4>官方示例</h4>
<form>
  <mat-form-field>
    <input type="email" matInput placeholder="Email">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error>
      请输入一个合法的电子邮件地址
    </mat-error>
    <mat-error>
      <strong>必填</strong>填写电子邮件地址
    </mat-error>
  </mat-form-field>
</form>
<h4>视频教程</h4>

<form class="login-form" novalidate>
  <mat-card>
    <mat-card-header></mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="帐号" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="密码" required>
      </mat-form-field>
      <button type="button" mat-raised-button>登录</button>
    </mat-card-content>
    <mat-card-actions align="start" class="text-right">
      <p>还没有帐户?
        <a href="javascript:;">注册</a>
      </p>
      <p>忘记密码?
        <a href="javascript:;">找回密码</a>
      </p>
    </mat-card-actions>
  </mat-card>
</form>

<a href="https://material.angular.io/components/form-field/overview" target="_blank">
  form field 接口
</a>
<div>
  <p>
    通常，"form field" 指的是 &lt;mat-form-field&gt;， 而 "form field control" 指的是它所包裹的内部输入组件:如 input, textarea, select 等。mat-form-field
    内部必须包含一个输入组件。
  </p>
  <ol>
    <li>
      <h5>Floating Label</h5>
      <p>
        当输入组件没有内容时，label 会显示在输入组件的上方。 可以通过以下多种方式来定义它，比如 `mat-label` 或者原始的 `placeholder` 属性， 或者使用 `mat-placeholder` 属性，其中 `mat-label`
        具有最高的优先级。
      </p>
      <p>
        <b>hideRequiredMarker</b>:如果输入组件已经设置了 `required` 属性，那么就会追加一个 `*` 星号来提醒这是一个必填字段。 如果你不想要星号，可以在 `mat-form-field` 上设置 `hideRequiredMarker`
        属性来屏蔽它。
      </p>
      <p>
        <b>floatLabel</b>:如果想改变默认 label 的显示方式，可以给 `mat-form-field` 设置 `floatLabel` 属性。 它接受 never:从不显示; always:总是显示在上方; auto:只有在点击输入框时，才将其浮动到上方。
      </p>
    </li>
    <li>
      <h5>Hint label</h5>
      <p>出现在输入控件下方，用于提示的文本信息。 一个 `mat-form-field` 最多可以设置两个 `mat-hint`. 有两种方式来设置：1：在 `mat-from-field` 上设置 `hintLabel` 属性（此时总是被作为
        start 方式出现在最左边）； 2：在内部添加 &lt;mat-hint&gt;（你可以通过设置 align=[start|end] 来修改它的位置）
      </p>
    </li>

    <li>
      <h5>Error messages</h5>
      <p>错误信息显示在输入组件的下方，你可以通过添加 mat-error 来设置它，默认情况下它是隐藏的，只有在用户出现交互行为，并且输入错误的，或者在提交表单之后，才会出现。</p>
      <p>当错误信息出现时，Hint label 的信息就会隐藏</p>
      <p>当有多条错误信息时，你可以通过 *ngIf 和 *ngSwitch 来决定显示哪一条信息。默认情况下，mat-form-field 只有显示一条错误的空间。如果你需要显示多条错误信息，需要自已处理多余的空间。</p>
    </li>

    <li>
      <h5>Prefix & suffix</h5>
      <p>你可以在输入标签的前后设置自定义的内容，`matPrefix` 代表前缀，`matSuffix` 代表后缀。通常将它设置在 span 或 icon 上。</p>
      <div>
        <mat-form-field>
          <input matInput placeholder="Amount" type="number" class="example-right-align">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </div>
    </li>
  </ol>
</div>
