<h4>button</h4>

<p>md-button 是以指令形式提供的</p>

<p>标准按钮: mat-button, mat-raised-button, mat-icon-button</p>
<p>浮动按钮: mat-fab, mat-mini-fab</p>

<h5>mat-button</h5>
<button mat-button>默认</button>
<button mat-button color="primary">primary</button>
<button mat-button color="accent">accent</button>
<button mat-button color="warn">warn</button>

<h5>mat-raised-button</h5>
<button mat-raised-button>默认</button>
<button mat-raised-button color="primary">primary</button>
<button mat-raised-button color="accent">accent</button>
<button mat-raised-button color="warn">warn</button>

<h5>mat-icon-button</h5>
<button mat-icon-button>+</button>
<button mat-icon-button color="primary">+</button>
<button mat-icon-button color="accent">+</button>
<button mat-icon-button color="warn">+</button>

<h5>mat-fab</h5>
<button mat-fab>+</button>
<button mat-fab color="primary">+</button>
<button mat-fab color="accent">+</button>
<button mat-fab color="warn">+</button>

<h5>mat-mini-fab</h5>
<button mat-mini-fab>+</button>
<button mat-mini-fab color="primary">+</button>
<button mat-mini-fab color="accent">+</button>
<button mat-mini-fab color="warn">+</button>

<h5>&gt;mat-icon</h5>

<button>
  <mat-icon class="mat-18">menu</mat-icon>
</button>

<button mat-icon-button color="primary">
  <mat-icon class="mat-18">menu</mat-icon>
</button>
