.grid-list {
  width: 300px;
}

.grid-list mat-grid-tile {
  background: lightblue;
}

form.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form.register-form mat-card {
  width: 640px;
  margin: 5px;
}

.text-right {
  margin: 10px;
  text-align: end;
}

/* 圆形的头像 */
mat-icon.avatar {
  overflow: hidden;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 5px;
}
