/*
 默认官方的主题
 @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

 使用自定义的主题，只需要将文件添加到 .angular-cli.json 中的 styels 中即可；
 当然如果你默认使用的是 scss 处理样式，也可以直接在当前文件使用
 @import "theme/theme.scss";
*/

/* https://fonts.googleapis.com/icon?family=Material+Icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/materialicons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* fonts.googleapis.com end */

html,
body,
app-root,
mat-sidenav-container,
.site {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.site {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 1em 2em;
}

.fill-remaining-space {
  /* 使用 flexbox 填充剩余的空间*/
  /* @angular/material 中的很多控件使用了 flex 布局 */
  flex: 1 1 auto;
}

mat-sidenav {
  width: 300px;
}

.full-width {
  width: 100%;
}

