<h3>资源</h3>
<ul>
  <li>
    调色板 :
    <a href="https://www.materialpalette.com/" target="_blank">material design palette</a>
  </li>
  <li>
    <div class="palette-color-wrapper">
      <span style="background: rgb(244, 67, 54);">red</span>
      <span style="background: rgb(233, 30, 99);">pink</span>
      <span style="background: rgb(156, 39, 176);">purple</span>
      <span style="background: rgb(103, 58, 183);">deep purple</span>
      <span style="background: rgb(63, 81, 181);">indigo</span>
      <span style="background: rgb(33, 150, 243);">blue</span>
      <span style="background: rgb(3, 169, 244);">light blue</span>
      <span style="background: rgb(0, 188, 212);">cyan</span>
      <span style="background: rgb(0, 150, 136);">teal</span>
      <span style="background: rgb(76, 175, 80);">green</span>
      <span style="background: rgb(139, 195, 74);">light green</span>
      <span style="background: rgb(205, 220, 57);">lime</span>
      <span style="background: rgb(255, 235, 59);">yellow</span>
      <span style="background: rgb(255, 193, 7);">amber</span>
      <span style="background: rgb(255, 152, 0);">orange</span>
      <span style="background: rgb(255, 87, 34);">deep orange</span>
      <span style="background: rgb(121, 85, 72);">brown</span>
      <span style="background: rgb(158, 158, 158);">grey</span>
      <span style="background: rgb(96, 125, 139);">blue grey</span>
    </div>
    <div style="clear: both;"></div>
  </li>
</ul>
<div style="clear: both;"></div>
<h4>mat-elevation-z?</h4>

<div class="child-float">
  <div class="with-border mat-elevation-z0">mat-elevation-z0</div>
  <div class="with-border mat-elevation-z1">mat-elevation-z1</div>
  <div class="with-border mat-elevation-z2">mat-elevation-z2</div>
  <div class="with-border mat-elevation-z3">mat-elevation-z3</div>
  <div class="with-border mat-elevation-z4">mat-elevation-z4</div>
  <div class="with-border mat-elevation-z5">mat-elevation-z5</div>
  <div class="with-border mat-elevation-z6">mat-elevation-z6</div>
  <div class="with-border mat-elevation-z7">mat-elevation-z7</div>
  <div class="with-border mat-elevation-z8">mat-elevation-z8</div>
  <div class="with-border mat-elevation-z9">mat-elevation-z9</div>
  <div class="with-border mat-elevation-z10">mat-elevation-z10</div>
  <div class="with-border mat-elevation-z11">mat-elevation-z11</div>
  <div class="with-border mat-elevation-z12">mat-elevation-z12</div>
  <div class="with-border mat-elevation-z13">mat-elevation-z13</div>
  <div class="with-border mat-elevation-z14">mat-elevation-z14</div>
  <div class="with-border mat-elevation-z15">mat-elevation-z15</div>
  <div class="with-border mat-elevation-z16">mat-elevation-z16</div>
  <div class="with-border mat-elevation-z17">mat-elevation-z17</div>
  <div class="with-border mat-elevation-z18">mat-elevation-z18</div>
  <div class="with-border mat-elevation-z19">mat-elevation-z19</div>
  <div class="with-border mat-elevation-z20">mat-elevation-z20</div>
  <div class="with-border mat-elevation-z21">mat-elevation-z21</div>
  <div class="with-border mat-elevation-z22">mat-elevation-z22</div>
  <div class="with-border mat-elevation-z23">mat-elevation-z23</div>
  <div class="with-border mat-elevation-z24">mat-elevation-z24</div>
</div>
<div style="clear: both;"></div>
<h4>mat-h?</h4>
<div>
  <div class="with-border mat-h1">.mat-h1,.mat-headline,.mat-typography h1</div>
  <div class="with-border mat-h2">.mat-h2,.mat-title,.mat-typography h2</div>
  <div class="with-border mat-h3">.mat-h3,.mat-subheading-2,.mat-typography h3</div>
  <div class="with-border mat-h4">.mat-h4,.mat-subheading-1,.mat-typography h4</div>
  <div class="with-border mat-h5">.mat-h5,.mat-typography h5</div>
  <div class="with-border mat-h6">.mat-h6,.mat-typography h6</div>
</div>

<div class="mat-body">
  <div>.mat-body,.mat-body-1,.mat-typography</div>
  <p>.mat-body p</p>
</div>

<div class="mat-body-2">
  <div>.mat-body-2,.mat-body-strong</div>
</div>

<div class="mat-caption">
  <div>.mat-caption,.mat-small</div>
</div>

<h4>mat-display-?</h4>
<div class="mat-display-1">.mat-display-1,.mat-typography .mat-display-1</div>
<div class="mat-display-2">.mat-display-2,.mat-typography .mat-display-2</div>
<div class="mat-display-3">.mat-display-3,.mat-typography .mat-display-3</div>
<div class="mat-display-4">.mat-display-4,.mat-typography .mat-display-4</div>
