<mat-card>
  <mat-card-header>
    <mat-card-title>{{ item.title }}</mat-card-title>
  </mat-card-header>
  <img matCardImage [src]="item.coverImg" alt="项目封面">
  <mat-card-content>
    {{ item.desc }}
  </mat-card-content>
  <mat-card-actions align="start">
    <button type="button" mat-button (click)="onEditClick($event)">
      <mat-icon class="mat-18">note</mat-icon>
      <span>编辑</span>
    </button>

    <button type="button" mat-button (click)="onInviteClick($event)">
      <mat-icon class="mat-18">group_add</mat-icon>
      <span>邀请</span>
    </button>

    <button type="button" mat-button (click)="onDeleteClick($event)">
      <mat-icon class="mat-18">delete</mat-icon>
      <span>删除</span>
    </button>

  </mat-card-actions>
</mat-card>
